.navbar {
    height: 5.7rem;
    padding: 0 5rem 0 5rem;
    justify-content: space-between;
    display: flex;
    align-items: center;

    background-color: var(--verde-secundario);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.acoes-navbar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.acoes-navbar a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    color: var(--texto-branco);
}

.acoes-navbar #botao-agendar-consulta {
    font-size: 1rem;
    padding: 0.75rem 1.75rem 0.75rem 1.75rem;
    color: var(-texto-branco);
    font-weight: bold;
    border: 1px solid var(--texto-branco);
    border-radius: 1.5rem;
}

.acoes-navbar #botao-agendar-consulta:hover {
    background-color: var(--verde-principal);
    transition-duration: 500ms;
}
